name: smarttrafficapp
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  shared_preferences: ^2.2.0
  intl: ^0.19.0
  google_maps_flutter: ^2.5.0
  video_player: ^2.8.3   # Ganti fijkplayer dengan video_player resmi

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/google_logo.png
