<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarttrafficapp">

    <application
        android:label="Smart Traffic"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Tambahkan API Key Google Maps di sini -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCC7spE1x9DRSTWlxVSu0R1GZ8DIDbdJuE" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tema awal saat aplikasi diluncurkan -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Jangan hapus meta-data di bawah ini -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Diperlukan untuk fitur text processing -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
